body {
  background-color: #ffffff;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-box {
  background-color: #323232;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 480px;
  width: 100%;
}

.title {
  color: #d5181f !important; /* vermelho padrao */
}

.button.is-danger {
  background-color: #d5181f;
  color: white;
}

.button.is-warning {
  background-color: #f7eb00;
  color: black;
}

.button:hover {
  filter: brightness(0.95);
}


/* FOOTER */


.footer {
  padding: 1.5rem 1rem;
  background-color: #d5181f;
  color: #ffffff;
  font-size: 0.9rem;
}


.resumo-card {
  background-color: #ffffff;
  border-left: 6px solid #d5181f;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.resumo-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.title {
  color: #f7eb00 !important; /* amarelo padrao */
}

.subtitle {
  color: #d5181f !important; /* vermelho padrao */
  margin-bottom: 1rem;
}
